<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css">
</head>

<body>

    <header>Best Books!</header>
    <main>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/new">Search the google API</a></li>
            </ul>
        </nav>


        <h4><img src="<%= task.image %>"></h4>
        <p>Title : <%= task.title %></p>
        <p>Auther : <%= task.author %></p>
        <p>Description : <%= task.description %></p>


</body>

</html>