<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Best Books!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/new">Search the google API</a></li>
            </ul>
        </nav>
    </header>
    <form class="addForm" action="/books" method="post">
        <label for="">Image-URL</label>
        <input type="text" name="image" value="<%= books.image%>">
        <label for="">Title</label>
        <input type="text" name="title" placeholder="Populated Title:" value="<%= books.title%>">
        <label for="" c>Author</label>
        <input type="text" name="author" placeholder="Populated Author:" value=" <%= books.author%>">
        <label for="">Description</label>
        <textarea name="description" placeholder="description:"><%=books.description%></textarea>
        <button> Add To My Books </button>
    </form>
</body>

</html>