<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <link rel="stylesheet" href="/public/styles/reset.css">
    <link rel="stylesheet" href="/public/styles/layout.css">
    <link rel="stylesheet" href="/public/styles/modules.css">
    <link rel="stylesheet" href="/public/styles/base.css">

</head>

<body>

    <main>
        <h1 id="booky">Welocome To Booky</h1>
        <ul>
            <li>
                <a href="/"> Home </a> </li>
            <li>
                <a href="/search"> Search For A Book</a> </li>

        </ul>
    </main>

</body>

</html>