.beside{
    display: flex;
    margin-left: 24%;
    color: black;
}

.h1{
    color: rgb(144, 165, 49);
    font-size: 55px;
    text-align: center;
}

.h3{
    position: absolute;
    top: 40%;
    left: 45%;
    color: black;
}

#xc{
    text-align: center;
    font-size: 50px;
    color: #ffee00e8;

}

img {
    border: 8px white dotted;
    width: 200px;
}

section{
    text-align: center;
    word-wrap: break-word;
}
/* #booky{
    text-align: center;
    border-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 115px;
    
} */