
form{
    width: 255px;
    text-align: center;
    margin-left: 42%;
    margin-top: 10%;
    border-radius: 21px;
    height: 282px;
}

ul {

    text-align: center;
    font-size: 25px;
    color: yellow;
}