
body{
    background-image: url(https://cdn.hipwallpaper.com/i/7/46/Z0ALkR.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-size: 15px;
}


nav #menu {
    display: none;
}

nav a,nav h2 {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}
nav a{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.726);
    transition: 1s;
}

nav a:hover{
    text-align: center;
    background-color: rgba(248, 117, 107, 0.726);
    transition: 1s;
}

nav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 15px;
}

nav img {
    width: 28px;
    height: 26px;
    border: 2px solid;
    transition: 1s;
    margin-left: -8px;
    margin-top: -4px;
}
nav img:hover {
    width: 20px;
    height: 15px;
    border: 2px solid;
    padding: 4px;
    transition: 1s;
}



form div , #submit , #textbox{
    width: 300px;
    height: 45px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
}

#textbox{
    color: black;
    width: 294px;
}

.form-inputs{
    background-color: lightgray;
    line-height: 45px;
    text-align: left;
}

.form-inputs label{
    margin: 0 20px 0 30px;
}

#submit {
    background-color: black;
    color: rgb(255, 255, 255);
    transition: 888ms;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#submit:hover{
    background-color: rgb(196, 42, 36);
    transition: ease-in;
    border-radius: 4px;
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 888ms;
}

.button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 15s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 12px;
}

.button:active {
    color: #000
}

.button:active:after {
    background: transparent;
}

.button:hover:before {
    opacity: 1;
}

.button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 131px 177px 180px 145px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 600% 0; }
    100% { background-position: 0 0; }
}
/* /----------------------------- */
.book-results{
    box-shadow: 0 0 10px black;
}

.book-results img {
    width: 200px;
}

.book-results h3{
    font-weight: 700;
    font-size: x-large;
    margin: 10px 0;
}

.book-results h4{
    font-weight: 600;
    font-size: large;
}

.book-results p{
    overflow: hidden;
    height: 10%;
    margin: 10px 0;

}

.button{
    width: 200px;
    padding: 14px;
    margin: 10% 0 0 0;
    border-radius: 5px;
    border: none;
    margin-top: 0%;
}

#four {
    margin-top: 25%;
    background-color: black;
    font-size: 120px;
    font-weight: 900;
}

#error{
    color: white;
    background-color: #440000;
    font-size: 20px;
}

